<div class="container">
    <h1>Draft</h1>
    <form role="form" enctype="multipart/form-data" method="post">
        <div class="form-group">
            <label label-for="sender">Sender</label>
                {{# if_eq messages.mailbox 'Inbox'}}
                    <input type="text" placeholder="Sender" value="{{messages.to.text}}" name="sender" class="form-control"/>
                    {{else}}
                    <input type="text" placeholder="Sender" value="{{messages.from.text}}" name="sender" class="form-control"/>
                {{/if_eq}}
        </div>
        <div class="form-group">
            <label label-for="recipient">Recipient</label>
            {{# if_eq messages.mailbox 'Inbox'}}
                <input type="text" placeholder="Recipient" value="{{messages.from.text}}" name="recipient" class="form-control"/>
            {{else}}
                <input type="text" placeholder="Recipient" value="{{messages.to.text}}" name="recipient" class="form-control"/>
            {{/if_eq}}
        </div>
        <div class="form-group">
            <label label-for="subject">Subject</label>
            {{# if messages.subject}}
                <input type="text" placeholder="Subject" value="{{messages.subject}}" name="subject" class="form-control"/>
            {{else}}
                <input type="text" placeholder="Subject" name="subject" class="form-control"/>
            {{/if}}
        </div>
        <div class="form-group">
            <label label-for="cc">Cc</label>
            {{# if messages.cc}}
                <input type="text" placeholder="cc" value="{{messages.cc.text}}" name="cc" class="form-control"/>
            {{else}}
                <input type="text" placeholder="cc" name="cc" class="form-control"/>
            {{/if}}
        </div>
        <div class="form-group">
            <label label-for="bcc">Bcc</label>
            {{# if messages.bcc}}
                <input type="text" placeholder="bcc" value="{{messages.bcc.text}}" name="bcc" class="form-control"/>
            {{else}}
                <input type="text" placeholder="bcc" name="bcc" class="form-control"/>
            {{/if}}
        </div>
        <div class="form-group">
            <textarea rows="20" cols="40" name="content" id="content" class="form-control">
                {{# if messages.html }}
                    {{{messages.html}}}
                {{else}}
                    {{messages.text}}
                {{/if}}
            </textarea>
        </div>
        <div class="form-group">
            <input type="file" name="attachment" value="attachment" class="form-control"/>
        </div>
        <div class="container-fluid">
            <button type="submit" name="send" formaction="/users/send/0" class="btn btn-success">Send Mail &nbsp;</button>
            <button type="submit" name="save" formaction="/users/save/0" class="btn btn-default">Save Draft &nbsp;</button>
        </div>
    </form>
</div>
{{!--<script src="/socket.io/socket.io.js"></script>--}}
{{!--<script>
    let loaded = false;
    var socketio = io.connect();
    socketio.on("imap_end_message", function(data) {
        if(!loaded){
            console.log(data['text']);
            tinymce.activeEditor.execCommand('mceInsertContent', false, {{messages.text}});
            loaded = true;
        }
    });

    $(document).ready(function() {
        tinymce.activeEditor.execCommand('mceInsertContent', false, {{messages.text}});
        let get = $.ajax({
            url: "http://localhost:3000/mail/mail-body/{{messages._id}}",
            type: "GET",
            async: true,
            success: function(response){
                console.log(response);
                get.abort();
            },
            error: function(response){
                console.log("Error: " + JSON.stringify(response));
            }
        });
    });
</script>--}}