<div class="container">
	<a href="/mail/reply/{{message._id}}" class="btn btn-default">Reply</a>
	<a href="/mail/trash/{{message._id}}" class="btn btn-default">Move to Trash</a>
	<div class="list-group">
		<div href="/mail/{{message._id}}" class="list-group-item">
			<h4 class="list-group-item-heading">{{message.subject}}</h4>
			{{# ifCond message.mailbox '==' 'Inbox'}}
				<p class="list-group-item-text">From: {{message.from.text}}</p>
			{{else}}
				<p class="list-group-item-text">To: {{message.to.text}}</p>
			{{/ifCond}}
			<p class="list-group-item-text">Date: {{message.date}}</p>
			<br>
			<div class="list-group-item-text container" id="text">
				{{# if message.html }}
					<p>{{{message.html}}}</p>
				{{else}}
					<p>{{message.text}}</p>
				{{/if}}
			</div>
			<div class="container">
				<div id="attachments" class="list-group"></div>
			</div>
		</div>
	</div>
</div>
<script>
let xhr = $.ajax({
	url: "http://localhost:3000/mail/mail-body/{{message._id}}",
	method: "GET",
	success: function(data){
		let html =  $('#attachments').html();
		for(index in data){
			let ext = data[index].name.getExtension();

			if(ext == 'png' || ext == 'gif' || ext == 'jpg' || ext == 'jpeg'){
				html += '<span><a href="' + data[index].link +'"><img src="' + data[index].link +'"width="64" height="64" /></a></span><br>';
			}else if(ext == 'pdf'){
				html += '<span><a href="' + data[index].link +'">' + pdf + data[index].name +'</a></span><br>';
			}else if(ext == 'docx' || ext == 'doc'){
				html += '<span><a href="' + data[index].link +'">' + word + data[index].name +'</a></span><br>';
			}else if(ext == 'xls' || ext == 'xlsx'){
				html += '<span><a href="' + data[index].link +'">' + excel + data[index].name +'</a></span><br>';
			}
		}
		$('#attachments').html(html);
		xhr.abort();
	}
});
</script>