extends layout

block content
	.container
		h1 Reply Mail
		form(role="form", method="post")
			.form-group
				label(label-for="sender")
					| Sender
				if (messages.mailbox == 'Inbox')
					input.form-control(type='text', value="#{messages.to.text}" name="sender")
				else
					input.form-control(type='text', value="#{messages.from.text}" name="sender")
			.form-group
				label(label-for="recipient")
					| Recipient
				if (messages.mailbox == 'Inbox')
					input.form-control(type='text', name="recipient", value="#{messages.from.value[0].address}")
				else
					input.form-control(type='text', name="recipient", value="#{messages.to.value[0].address}")
			.form-group
				label(label-for="subject")
					| Subject
				input.form-control(type='text', name="subject" value="Re: #{messages.subject}")
			.form-group
				label(label-for="cc")
					| Cc
				input.form-control(type='text', name="cc", placeholder='cc')
			.form-group
				label(label-for="bcc")
					| Bcc
				input.form-control(type='text', name="bcc", placeholder='bcc')
			.form-group
				if (messages.html)
					textarea.form-control(rows='20', cols='40', name="content")
						|&nbsp;
						|&nbsp;
						|&nbsp;
						|------------------------------------------------------------------------------
						|!{messages.html}
				else
					textarea.form-control(rows='20', cols='40', name="content")
						|&nbsp;
						|&nbsp;
						|&nbsp;
						|------------------------------------------------------------------------------
						|#{messages.text}
			.container-fluid
				button.btn.btn-success(type="submit" name="send", formaction="/users/send/0") Send Mail &nbsp;
				button.btn.btn-default(type="submit" name="save", formaction="/users/save/0") Save Draft &nbsp;